<ion-header>
  <ion-toolbar>
    <ion-title>otros</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logOut()">Logout</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="home">
  <ion-list>
      <ion-item>
          <ion-label>Selecciona que Dispositivo desea Registrar</ion-label>
          <ion-select [(ngModel)]="tipo">
            <ion-select-option *ngFor=" let device of devices" value="{{device}}">{{device}}</ion-select-option>
          </ion-select>
        </ion-item>

  </ion-list>
</ion-content>
