<ion-content>
    <div class="row">
        <div class="column">
          <ion-button expand="block" (click)="agua()">Agua</ion-button>
          <ion-button expand="block" (click)="energia()">Energia</ion-button>
          <ion-button expand="block" (click)="luces()">Luces</ion-button>
          <!-- <ion-button expand="block" (click)="seguridad()">Seguridad</ion-button> -->
          <ion-button expand="block" (click)="otros()">Otros</ion-button>
        </div>
        <div class="column">
          <ion-button expand="block" (click)="historial()">Historial</ion-button>
          <ion-button expand="block" (click)="configuracion_agua_energia()">Configuracion Usuario</ion-button>
          <ion-button expand="block" (click)="configuracion_usuario()">Configuracion Agua/Energia</ion-button>
          <ion-button expand="block" (click)="configuracion_wifi()">Configuracion Wifi</ion-button>
          <ion-button expand="block" (click)="configuracion_disp()">Configuracion Dispositivo</ion-button>
        </div>
    </div>
</ion-content>
      

      