<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Seguridad</ion-title>
    <ion-buttons slot="end">
        <ion-button color="danger" (click)="logOut()"> Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</ion-header>

<ion-content class="home">
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label>Seleccione el Sensor</ion-label>
              <ion-select [(ngModel)]="Sensor">
                <ion-select-option value="energia">Energia</ion-select-option>
                <ion-select-option value="agua">Agua</ion-select-option>
              </ion-select>
            </ion-item>
          <br>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
