
<ion-menu [disabled]="!isLoggedIn"></ion-menu>
<ion-content>
<ion-row>
    <ion-col>
      <ion-row>
        <ion-col class="marco">
            <ion-img src="../../assets/icon/famLogo.png" width="10" height="20"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
            
          <ion-col>
              <ion-button expand="block" routerLink="/login" routerDirection="forward"> Login </ion-button>
              <ion-button expand="block" routerLink="/registrar" routerDirection="forward"> Registrar </ion-button>       
              <ion-button expand="block" routerLink="/reiniciar-contrasena" routerDirection="forward"> Reiniciar Contrasena </ion-button>       
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-content>
